<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <base href="/" />
  <title></title>

  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="stylesheets/pygment_trac.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <div class="wrapper">
    <header>
      <img src="images/joe.jpg" class="joe">
      <h1>Joe Gaudet</h1>
      <p>joegaudet.com</p>

      <p class="view"><a href="https://github.com/joegaudet">http://github.com/joegaudet</a></p>
      <p class="view"><a href="https://twitter.com/joegaudet">http://twitter.com/joegaudet</a></p>
      <p class="view"><a href="http://www.linkedin.com/in/josephgaudet">http://www.linkedin.com/in/josephgaudet</a></p>
    </header>

    {{content}}



    
    <footer>
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
  </div>
  <script src="javascripts/scale.fix.js"></script>

</body>
</html>