<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>joegaudet.com :: {{ page.title}}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//f.fontdeck.com/s/css/posU9Y0DYSwKyT7pZ5oMklOhSjk/localhost/35587.css"
          type="text/css"/>
    <link rel="stylesheet" href="//f.fontdeck.com/s/css/posU9Y0DYSwKyT7pZ5oMklOhSjk/joegaudet.com/35587.css"
          type="text/css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7215431-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>
<div class="wrapper">
    <header>
        <img src="/images/joe-hill.jpeg" class="joe">

        <h1>Joe Gaudet</h1>

        <p><a href="http://joegaudet.com">joegaudet.com</a></p>

        <p class="view">
            Senior code monkey @ <a href="http://hootsuite.com">Hootsuite</a>, former CTO of <a
                href="http://learndot.com">Learndot</a>, brewer of ales, consumer of coffee, patroller of <a
                href="http://gnarpatrol.com">Gnar</a>
        </p>

        <div class="social">
            <p class="view">
                <a href="https://github.com/joegaudet" title="I code here">&#xe237;</a>
                <a href="https://twitter.com/joegaudet" title="I troll here">&#xe286;</a>
                <a href="https://instagram.com/joegaudet" title="I brag about my life here">&#xe300;</a>
                <a href="http://www.linkedin.com/in/josephgaudet" title="I pad my resume here">&#xe252;</a>
                <a href="mailto:joe@joeguadet.com" title="I pipe this email to my spam folder... here.">&#xe224;</a>
                <a href="feed.xml" title="do people still use rss?">&#xe271;</a>
            </p>
        </div>
    </header>

    {{content}}

    <footer>
        <p>
            I work at <a href="http://hootsuite.com">Hootsuite</a>, we build the best social media management
            tools in the world. And we have lots of cute <a href="https://www.instagram.com/explore/tags/hootdogs/">HootDogs</a>.
        </p>
    </footer>
</div>
<script src="javascripts/scale.fix.js"></script>

</body>
</html>