<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <base href="/"/>
    <title>joegaudet.com :: {{ page.title}}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//f.fontdeck.com/s/css/posU9Y0DYSwKyT7pZ5oMklOhSjk/localhost/35587.css"
          type="text/css"/>
    <link rel="stylesheet" href="//f.fontdeck.com/s/css/posU9Y0DYSwKyT7pZ5oMklOhSjk/joegaudet.com/35587.css"
          type="text/css"/>
    <link rel="shortcut icon" href="/images/joe-fav.ico"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7215431-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>
<div class="wrapper">
    <header>
        <img src="images/joe.jpg" class="joe">

        <h1>Joe Gaudet</h1>

        <p><a href="http://joegaudet.com">joegaudet.com</a></p>

        <p class="view">
            Senior code monkey @ <a href="http://hootsuite.com">Hootsuite</a>, former CTO of <a href="http://learndot.com">Learndot</a>, brewer of ales, shredder of GNAR.
        </p>

        <div class="social">
            <p class="view">
                <a href="https://github.com/joegaudet" title="I code here">&#xe236;</a>
                <a href="https://twitter.com/joegaudet" title="I troll here">&#xe286;</a>
                <a href="http://www.linkedin.com/in/josephgaudet" title="I pad my resume here">&#xe252;</a>
                <a href="mailto:joe@joeguadet.com" title="I pipe this email to my spam folder... here.">&#xe224;</a>
                <a href="feed.xml" title="do people still use rss?">&#xe271;</a>
            </p>
        </div>
    </header>

    {{content}}

    <footer>
        <!--I work at <a href="http://learndot.com">Learndot</a> we make learning software that will make you and everyone-->
        <!--at your company smarter! Check us out.-->
    </footer>
</div>
<script src="javascripts/scale.fix.js"></script>

</body>
</html>